<div class="container relative h-full flex flex-col justify-between pb-20 xg:pb-0">

  <row>
    <div class="col-1-10 xg:col-7-11">

      <article class="anim" data-anim="bottom">
        {{ partial:content/about }}
      </article>

      <div class="mt-8">
        <h3 class="mb-3">
          <line>
            <span class="block out">My Stack</span>
          </line>
        </h3>

        <ul class="grid grid-cols-2 xg:grid-cols-3 gap-x-2 mb-8">
          <li>
            <line> <span class="out"> HTML </span></line>
          </li>
          <li>
            <line> <span class="out"> CSS </span></line>
          </li>
          <li>
            <line> <span class="out"> JavaScript </span></line>
          </li>
          <li>
            <line> <span class="out"> Node.js </span></line>
          </li>
          <li>
            <line> <span class="out"> PHP </span></line>
          </li>
          <li>
            <line> <span class="out"> MySQL </span></line>
          </li>
          <li>
            <line> <span class="out"> Tailwind CSS </span></line>
          </li>
          <li>
            <line> <span class="out"> Bootstrap </span></line>
          </li>
          <li>
            <line> <span class="out"> Wordpress </span></line>
          </li>
          <li>
            <line> <span class="out"> Laravel </span></line>
          </li>
          <li>
            <line> <span class="out"> Statamic </span></line>
          </li>
          <li>
            <line> <span class="out"> Astro </span></line>
          </li>
        </ul>

        <line>
          <span class="out">
            <div class="cta">
              <a href="/works" class="btn pointer-link"> Portfolio <svg
                  xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-auto" width="32" height="32" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M4 10v4h9l-3.5 3.5l2.42 2.42L19.84 12l-7.92-7.92L9.5 6.5L13 10z" />
                </svg>
              </a>
            </div>
          </span>
        </line>

      </div>
    </div>

  </row>

</div>