<div class="container relative h-full flex flex-col justify-between" >
    <row>
        <div class="xg:col-7-11">
            <h1 class="text-h1 mb-3">
              <a href="mailto:hello@nicolasgonzalez.dev" > hello@nicolasgonzalez.dev </a>
            </h1>
            <h2 class="text-h1 mb-3">
              <a href="tel:+598 398 010">+598 398 010</a> <br>
              <a href="tel:+55 41 999 39 00 88">+55 41 999 39 00 88</a>
            </h2>
            
        </div>
    </row>
    <div class="relative z-10">
        <h1 class="title">
          Let´s connect
        </h1>
    </div>
</div>