<div class="container relative h-full xg:h-[75vh] flex flex-col justify-between">
    <row>
        <div class="col-1-11 xg:col-7-11">
            <div class="anim-box">
                <h1 class="text-h1 mb-3 translate-y-[-6.2rem] xg:translate-y-[-3.7rem]">Full-stack Web Developer</h1>
            </div>
            <article>
                {{ partial:content/about }}
                <div class="anim-box">
                    <a id="btnWorks" href="/works" class="hidden xg:flex items-center pointer-link xg:translate-y-[-3rem]"> Portfolio <svg
                            xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-auto" width="32" height="32"
                            viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M4 10v4h9l-3.5 3.5l2.42 2.42L19.84 12l-7.92-7.92L9.5 6.5L13 10z" />
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </row>
    <div class="relative z-10">
        <h1 id="txtNico" class="title chars anim-box">
            <span>N</span><span>i</span><span>c</span><span>o</span><span>l</span><span>a</span><span>s</span> <br class="xg:hidden"> 
            <span>G</span><span>o</span><span>n</span><span>z</span><span>a</span><span>l</span><span>e</span><span>z</span>
        </h1>
    </div>
</div>