<div class="container relative h-full flex flex-col justify-between">
    <row>
        <div class="col-1-10 xg:col-7-11">
            <div class="anim-box">
                <h1 class="text-h1 mb-3 xg:translate-y-[-3rem]">Full-stack Web Developer</h1>
            </div>
            <article>
                <p id="txtAbout" class="mb-8">
                    I´m a Freelance Web Developer with expertise in interaction design, branding, and
                    strategy.Supporting brands in building compelling, user-friendly, and emotionally captivating
                    experiences.
                </p>
                <div class="anim-box">
                    <a id="btnWorks" href="/works" class="hidden xg:flex items-center pointer-link xg:translate-y-[-3rem]"> Portfolio <svg
                            xmlns="http://www.w3.org/2000/svg" class="w-[2rem] h-auto" width="32" height="32"
                            viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M4 10v4h9l-3.5 3.5l2.42 2.42L19.84 12l-7.92-7.92L9.5 6.5L13 10z" />
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </row>
    <div class="relative z-10">
        <h1 id="txtNico" class="title anim-box">Nicolas <br class="xg:hidden"> Gonzalez</h1>
    </div>
</div>