<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {{ partial:head/fontFace }}
        {{ partial:head/seoMetas }}
        
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        
        {{ partial:head/openGraph }}
        {{ partial:head/richSnippets }}
        {{ partial:head/favicon }}
        {{ partial:head/otherMetas }}
        <meta name="view-transition" content="same-origin" />
    </head>
    <body class="{{ slug }}" >
        
        {{ partial:layout/header }}

        <main>
            {{ template_content }}
        </main>

    </body>
</html>
