<div class="container relative h-full flex flex-col justify-between">

  <row class="mb-4 xg:mb-7">

    <div class="xg:col-7-10">
      <article>
        <p>
          <line> <span class="out"> These are some service packages that usually </span></line>
          <line> <span class="out"> cover the most demanded cases. In case you</span></line>
          <line> <span class="out"> need a similar proposal, but with some</span></line>
          <line> <span class="out"> modifications, do not hesitate to contact me, I´ll</span></line>
          <line> <span class="out"> find the right option for your needs.</span></line>
        </p>
      </article>
    </div>
  </row>

  <grid class="loop xg:grid-cols-4 gap-2 ctr-pb">
    <div class="anim-box xg:h-[40rem]">
      <card-pack class="pointer-arrow">
        <h2>One Page</h2>
        <ul>
          <li>Diseño</li>
          <li>Programación</li>
          <li>1 sola página</li>
          <li>Integración de certificado SSl</li>
          <li>Google Analytics</li>
        </ul>
        <price> $500 </price>
      </card-pack class="pointer-arrow">
    </div>
    <div class="anim-box xg:h-[40rem]">
      <card-pack class="pointer-arrow">
        <h2>Static Site</h2>
        <ul>
          <li>Diseño</li>
          <li>Programación</li>
          <li>Hasta 4 páginas (home, nosotros, servicios, contacto)</li>
          <li>Integración de certificado SSl</li>
          <li>Google Analytics</li>
        </ul>
        <price> $800 </price>
      </card-pack class="pointer-arrow">
    </div>
    <div class="anim-box xg:h-[40rem]">
      <card-pack class="pointer-arrow">
        <h2>Dynamic Site</h2>
        <ul>
          <li>Diseño</li>
          <li>Programación</li>
          <li>Hasta 4 páginas + Blog</li>
          <li>Gestor de contenidos(Wordpress)</li>
          <li>Integración de certificado SSl</li>
          <li>Videotutorial de uso</li>
          <li>Meet de soporte</li>
          <li>Google Analytics</li>
        </ul>
        <price> $1200 </price>
      </card-pack class="pointer-arrow">
    </div>
    <div class="anim-box xg:h-[40rem]">
      <card-pack class="pointer-arrow">
        <h2>eCommerce</h2>
        <ul>
          <li>Diseño</li>
          <li>Programación</li>
          <li>Hasta 4 páginas + Blog</li>
          <li>Wordpress + Woocommerce</li>
          <li>Publicación de 20 productos</li>
          <li>Integración pasarela de pagos</li>
          <li>Videotutorial de uso</li>
          <li>Meet de soporte</li>
          <li>Google Analytics</li>
        </ul>
        <price> $1800 </price>
      </card-pack class="pointer-arrow">
    </div>
    <div class="anim-box xg:h-[40rem]">
      <card-pack class="pointer-arrow">
        <h2>SEO on Page</h2>
        <ul>
          <li>Optimización de títulos y meta tags</li>
          <li>Open Graph Protocol</li>
          <li>Robots.txt</li>
          <li>Sitemap</li>
          <li>Breadcrumbs</li>
          <li>Friendly URLs</li>
          <li>Google Analytics</li>
          <li>Google Search Console</li>
        </ul>
        <price> $250 </price>
      </card-pack class="pointer-arrow">
    </div>
    <div class="anim-box xg:h-[40rem]">
      <card-pack class="pointer-arrow">
        <h2>CMS Software Update</h2>
        <ul>
          <li>Database Backup and Optimization</li>
          <li>Content Backup</li>
          <li>Core Wordpress Update</li>
          <li>Plugins Update</li>
          <li>Theme Update</li>
          <li>Security Check and Update</li>
        </ul>
        <price> $100 </price>
      </card-pack class="pointer-arrow">
    </div>

  </grid>

</div>