<container class="ctr-p filter">

  <row>
    <div class="col-1-7 flex items-end ctr-pb">
      <ul class="inline-flex flex-col w-fit gap-[.5rem] xg:gap-0">
        <li class="filter-btn pointer-link anim-box" data-filter="*">
          <line><span class="out">All</span></line>
        </li>
        <li class="filter-btn pointer-link anim-box" data-filter="one-page">
          <line><span class="out">One Page</span></line>
        </li>
        <li class="filter-btn pointer-link anim-box" data-filter="static-site">
          <line><span class="out">Static Sites</span></line>
        </li>
        <li class="filter-btn pointer-link anim-box" data-filter="dynamic-site">
          <line><span class="out">Dynamic Sites</span></line>
        </li>
        <li class="filter-btn pointer-link anim-box" data-filter="ecommerce">
          <line><span class="out">eCommerce</span></line>
        </li>
      </ul>
    </div>
    <div class="col-7-13 flex justify-end items-end">
      <h1 class="title chars anim-box translate-y-[-1rem] xg:translate-x-0">
        <span>W</span><span>o</span><span>r</span><span>k</span><span>s</span>
      </h1>
    </div>
  </row>

  <div class="grid loop xg:grid-cols-2 gap-2">

    {{ collection:works }}
    <a href="{{ link_field }}" class="filter-item anim-box" data-filter="{{ cat }}{{ slug }}{{ unless last }}, {{ /unless }}{{ /cat }}" target='_blank'
      rel='noreferrer noopener' aria-label='Ir a {{ title }}' aria-describedby='link-description'>
      <card class="pointer-arrow" role='article' itemscope itemtype='http://schema.org/CreativeWork'>
        <figure>
          <img src="{{ thumbnail:0 }}" alt="{{ title }}" loading='lazy' decoding='async' fetchpriority='low' itemprop='image' />
        </figure>
      </card>
    </a>
    {{ /collection:works }}

  </div>

</container>

