<container class="ctr-p">

  <row>
    <div class="col-1-7 flex items-end ctr-pb">
      <ul class="inline-flex flex-col w-fit gap-[.5rem] xg:gap-[.75rem] xg:gap-0">
        <li class="pointer-link anim-box">
          <line><span>All</span></line>
        </li>
        <li class="pointer-link anim-box">
          <line><span>One Page</span></line>
        </li>
        <li class="pointer-link anim-box">
          <line><span>Static Sites</span></line>
        </li>
        <li class="pointer-link anim-box">
          <line><span>Dynamic Sites</span></line>
        </li>
        <li class="pointer-link anim-box">
          <line><span>eCommerce</span></line>
        </li>
      </ul>
    </div>
    <div class="col-7-13 flex justify-end items-end">
      <h1 class="title chars anim-box translate-y-[-1rem] xg:translate-x-0">
        <span>W</span><span>o</span><span>r</span><span>k</span><span>s</span>
      </h1>
    </div>
  </row>

  <div class="grid loop xg:grid-cols-3 gap-2">

    {{ loop from="1" to="12" }}
        <div class="anim-box">
          <card class="pointer-arrow">
              <img src='https://placehold.co/600x400' alt='Placeholder image {{ value }}' loading='lazy' decoding='async' fetchpriority='low' />
          </card>
        </div>
    {{ /loop }}

  </div>

</container>