<container>

  <div class="flex justify-between mb-4 items-end">
    <h1 class="title">
      Works
    </h1>
    <ul class="inline-flex flex-col w-fit">
      <li>All</li>
      <li>One Page</li>
      <li>Static Sites</li>
      <li>Dynamic Sites</li>
      <li>eCommerce</li>
    </ul>
  </div>

  <div class="grid grid-cols-3 gap-2">

    {{ loop from="1" to="12" }}
        <card>
            <img src='https://placehold.co/600x400' alt='Placeholder image {{ value }}' loading='lazy' decoding='async' fetchpriority='low' />
        </card>
    {{ /loop }}

  </div>

</container>