<!-- open graph -->
<meta property="og:locale" content="">
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:site_name" content="">
<meta property="og:updated_time" content="2023-01-12T18:30:53+00:00">
<meta property="og:image" content="img/opengraph/1200x630.png">
<meta property="og:image:secure_url" content="img/opengraph/1200x630.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content=" Opengraph">
<meta property="og:image:type" content="image/jpeg">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title ?? site:name }}">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="img/opengraph/1200x630.png">
<meta name="twitter:label1" content="Escrito por">
<meta name="twitter:data1" content="{{ title ?? site:name }}">
<meta name="twitter:label2" content="Tiempo de lectura">
<meta name="twitter:data2" content="Menos de un minuto">