<header class="container row">

  <div class="xg:col-1-7">
    {{ partial:header/brand }}
  </div>

  <div class="xg:col-7-10">
    {{ partial:header/menu }}
  </div>
  
  <div class="xg:col-10-13 flex justify-end">
    {{ partial:header/langSwitcher }}
  </div>

</header>

<video class="fixed top-0 left-0 w-full h-full object-cover z-0 opacity-[.1] z-1" preload autoplay muted playsinline loop  >
  <source src='video/bgNicolasGonzalez.mp4' type='video/mp4'>
  Your browser does not support the video tag.
</video>