<menu>
  <figure class="relative top-[.5rem] xg:hidden">
    <svg><use href="#logo"/></svg>
  </figure>
  <div class="flex w-full h-[60%] xg:h-auto justify-between ctr-pl pt-10 xg:pt-0 xg:pl-0">
    <nav>
      <a class="m-item pointer-link {{ page_status file='works' target='{current_url}' }}" href="/works">
        Works
      </a>
      <a class="m-item pointer-link {{ page_status file='my-stack' target='{current_url}' }}" href="/my-stack">
        My Stack
      </a>
      <a class="m-item pointer-link {{ page_status file='packs' target='{current_url}' }}" href="/packs">
        Packs
      </a>
      <a class="m-item pointer-link hidden xg:block {{ page_status file='contact' target='{current_url}' }}" href="/contact">
        Contact
      </a>
    </nav>
    <div class="xg:hidden" >
      {{ partial:header/langSwitcher }}
    </div>
  </div>

  <div class="xg:hidden ctr-px">
    {{ partial:content/contact-data }}
  </div>

</menu>