<menu>
  <figure class="relative top-[.5rem] xg:hidden">
    <svg><use href="#logo"/></svg>
  </figure>
  <div class="flex w-full h-[60%] xg:h-auto justify-between ctr-pl pt-10 xg:pt-0 xg:pl-0">
    <nav>
      <a class="m-item togg hidden xg:block {{ page_status file='home' target='{current_url}' }}" href="/">
        <span>Home</span>
      </a>
      <a class="m-item togg pointer-link {{ page_status file='works' target='{current_url}' }}" href="/works">
        <span>Works</span>
      </a>
      <a class="m-item togg pointer-link {{ page_status file='my-stack' target='{current_url}' }}" href="/my-stack">
        <span>My Stack</span>
      </a>
      <a class="m-item togg pointer-link {{ page_status file='packs' target='{current_url}' }}" href="/packs">
        <span>Packs</span>
      </a>
      <a class="m-item togg hidden xg:block {{ page_status file='contact' target='{current_url}' }}" href="/contact">
        <span>Contact</span>
      </a>
    </nav>
    <div class="xg:hidden" >
      {{ partial:header/langSwitcher }}
    </div>
  </div>

  <div class="xg:hidden ctr-px">
    {{ partial:content/contact-data }}
  </div>

</menu>