burger {
		@apply absolute top-2 right-0 block xg:hidden z-[9999]
		transition-all duration-[.3s] ease-in-out;
}

burger .icon {
	@apply size-[4.3rem]
	transition-all duration-[.3s] ease-in-out;
	transform-origin: center center;
}

burger .icon:before ,
burger .icon:after {
	content: "";
	@apply absolute top-0 left-0 w-[3.3rem] h-[.7rem] 
	bg-white
	transition-all duration-[.3s] ease-in-out;
	transform-origin: center center;
}

burger .icon:after {
	@apply top-[1.2rem];
}

burger svg{
	@apply absolute top-0 left-[.5rem] translate-x-[-1rem] translate-y-[-1rem] scale-0 
	size-[4.75rem] rotate-[-90deg]
	opacity-0
	transition-all duration-[.3s] ease-in-out;
	transform-origin: center center;
}


/* Open */
.menu-in burger .icon{
	@apply top-[.3rem];
}

.menu-in burger .icon:before,
.menu-in burger .icon:after{
	@apply translate-y-1 translate-x-1 size-0;
}

.menu-in burger .icon:before{
	@apply top-[.5rem] rotate-[180deg];
}

.menu-in burger .icon:after{
	@apply top-[-.5rem] rotate-[90deg];
}

.menu-in burger svg{
	@apply scale-100 opacity-100 rotate-0;
}



