.hero {
   @apply 
   relative
   bg-black text-white 
   overflow-hidden;
   height: 100vh;
   height: 100svh;
}

.hero img {
   @apply opacity-75;
   height: 100vh;
   height: 100svh;
}

.hero callout {
  @apply block relative xg:w-[40%] xg:translate-y-[33%] z-10;
}

.hero h1{
  @apply text-big mb-4;
}

.hero p{
  @apply text-h3 mb-3;
}

