:root {
  --container-gap: 1rem;
  --line-width: 1.5px;
}

html {
  /* scroll-behavior: smooth; */
  height: auto;
}

/* @media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
} */

body{
  @apply text-body text-white bg-greydark min-h-screen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  height: 100%;
  cursor: none !important;
}

@view-transition{
  navigation: auto;
}


[id]{scroll-margin-top: 10ex}

main {
  @apply relative flex flex-1 pt-20 z-10;
}

container{
  @apply container flex flex-col;
}

grid{
  @apply grid;
}

.row, row {
  @apply grid gap-1 grid-cols-12 md:gap-2 w-full;
}

/* .row > *, row > * {
  grid-column: 1 / 13;
} */

img, video{
  @apply w-full object-cover;
}

body.home, body.my-stack,
body.contact{
  @apply xg:h-screen overflow-hidden;
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 375px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (width >= theme("screens.xs")) {
  :root {
    --container-gap: 1.5rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 640px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (width >= theme("screens.sm")) {
  :root {
    --container-gap: 2rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 768px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/
@media (width >= theme("screens.md")) {
  :root {
    --container-gap: 4rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 992px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.xg")) {
  
  :root {
    --container-gap: 3rem;
  }

}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1024px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (width >= theme("screens.xl")) {
  :root {
    --container-gap: 3rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1280px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (width >= theme("screens.2xl")) {
  :root {
    --container-gap: 6rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1440px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (width >= theme("screens.3xl")) {
  :root {
    --container-gap: 7rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1680 ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (width >= theme("screens.4xl")) {
  :root {
    --container-gap: 8rem;
  }
} */

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1920 ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

/* @media (width >= theme("screens.5xl")) {
  :root {
    --container-gap: 8rem;
  }
} */


/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2560 //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.6xl")) {
  :root {
    --container-gap: 12rem;
  }
}
