.home.once menu .m-item span {
    @apply block xg:-translate-y-4;
}

.once .lang-switcher a:nth-child(1) {
    @apply xg:translate-x-[-2.5rem];
}

.once .lang-switcher a:nth-child(2) {
    @apply xg:w-0;
}

.once .lang-switcher a:nth-child(3) {
    @apply xg:translate-x-[2.5rem];
}

/* .once{
  animation: firstLoad 1s ease;
}

@keyframes firstLoad{
  
  from{
    opacity: 0;
    transform: translateY(20px);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
  
} */
