.pointer{
  @apply hidden xg:block fixed top-0 left-0 z-[99999999] pointer-events-none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease-out;
}

.pointer:before{
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M9.12 11.94v4.95H5.69V5.69h11.2v3.43h-4.95l6.37 6.38l-2.81 2.81z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  @apply flex size-[3.2rem]; 
  transition: all 0.3s ease-in-out;
}

.pointer.o-pointer:before,
.pointer.o-pointer:after{
  content: none;
}

.pointer-link{
  @apply xg:block w-fit relative;
}

.pointer-link:before,
.pointer-link:after{
  content: "[";
  @apply absolute block top-[50%] left-[50%] text-[2.5rem] translate-x-[-50%] translate-y-[-55%] opacity-0;
  transition: all 0.2s ease-out;
}

.pointer-link:before{
  @apply left-[30%];
}

.pointer-link:after{
  content: "]";
  @apply left-[70%];
}

.pointer-link.active:before,
.pointer-link:hover:before{
  @apply xg:opacity-100 left-0 translate-x-[-1.5rem];
}

.pointer-link.active:after,
.pointer-link:hover:after{
  @apply xg:opacity-100 left-[100%] translate-x-[0.5rem];
}



.pointer.arrow:before{
  content: "";
  @apply size-5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8.5 18.31L5.69 15.5l6.37-6.38H7.11V5.69h11.2v11.2h-3.42v-4.95z'/%3E%3C/svg%3E");
}