.pointer{
  @apply fixed top-0 left-0 z-[99999999] pointer-events-none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.2s ease-out;
}

.pointer:before{
  content: '';
  @apply flex size-[2.5rem]; 
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.712 12.5916V1.94042H8.89282V0.531998H12.5019V14H8.89282V12.5916H10.712Z' fill='white'/%3E%3Cpath d='M2.28596 1.94042V12.5916H4.10517V14H0.496094V0.531998H4.10517V1.94042H2.28596Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center;
  transition: all 0.2s ease-out;
}

.pointer.o-pointer:before,
.pointer.o-pointer:after{
  content: none;
}

.pointer-link{
  @apply block w-fit relative;
}

.pointer-link:before,
.pointer-link:after{
  content: "";
  @apply absolute block top-[50%] left-[50%] size-[2.5rem] translate-x-[-50%] translate-y-[-55%] opacity-0;
  background-image: url("data:image/svg+xml,%3Csvg width='5' height='14' viewBox='0 0 5 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.28596 1.94042V12.5916H4.10517V14H0.496094V0.531998H4.10517V1.94042H2.28596Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center;
  transition: all 0.2s ease-out;
}

.pointer-link:before{
  @apply left-[30%];
}

.pointer-link:after{
  @apply left-[70%];
}


.pointer-link:after{
  background-image: url("data:image/svg+xml,%3Csvg width='5' height='14' viewBox='0 0 5 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.71203 12.5916V1.94042H0.892822V0.531998H4.50189V14H0.892822V12.5916H2.71203Z' fill='white'/%3E%3C/svg%3E");
}

.pointer-link.active:before,
.pointer-link:hover:before{
  @apply opacity-100 left-0 translate-x-[-1.5rem];
}

.pointer-link.active:after,
.pointer-link:hover:after{
  @apply opacity-100 left-[100%] translate-x-[0.5rem];
}
