:root {
  --html: 10px;
  --big: 3.5rem;
  --h1: 2.8rem;
  --h2: 2.2rem;
  --h3: 2rem;
  --body: 1.8rem;
  --small: 1.4rem;
}

html {
  font-size: var(--html);
}

p {
  @apply text-pretty;
}

.text-big,
.text-h1,
.text-h2,
.text-h3 {
  @apply text-balance;
}

.text-big{
  @apply leading-[1];
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 640px //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.xs")) {
  :root {
    --html: 10px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 768px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.sm")) {
  :root {
    --html: 11px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*//////////////////////// 992px ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.xg")) {
  :root {
    --html: 11px;
    --big: 10rem;
    --body: 1.8rem;
    --h1: 3rem;
    --h2: 2.5rem;
    --h3: 2rem;
    --small: 1.6rem;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1024px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.xl")) {
  :root {
    --html: 8px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1280px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.2xl")) {
  :root {
    --html: 8.5px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1440px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.3xl")) {
  :root {
    --html: 9px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1680px /////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.4xl")) {
  :root {
    --html: 9.5px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*///////////////////////// 1920 ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.5xl")) {
  :root {
    --html: 10px;
  }
}

/*//////////////////////////////////////////////////////////*/
/*////////////////////////// 2560 //////////////////////////*/
/*//////////////////////////////////////////////////////////*/

@media (width >= theme("screens.6xl")) {
  :root {
    --html: 15px;
  }
}
