card{
    @apply relative flex rounded-lg aspect-[16/8] cursor-none
    overflow-hidden;
}

card *{
    @apply text-greylight;
}

card h2{
    @apply text-h2;
}

card img{
    @apply relative z-10 object-cover object-center w-full h-full;
    filter: invert(1) grayscale(100%);
}

card figure{
    @apply w-full;
}


card:hover img{
    @apply transition-all duration-[.3s] ease-in-out;
    filter: none;
}

