card{
    @apply relative flex bg-greylight rounded-lg aspect-[16/8] cursor-none
    overflow-hidden;
}

card h2{
    @apply text-h2;
}

card img{
    @apply relative z-10 object-cover object-center w-full h-full opacity-0;
}

card figure{
    @apply w-full;
}

card figcaption{
    @apply absolute inset-0 z-50
    flex flex-col justify-between
    p-2
    text-white ;
}

card top,
card bottom{
    @apply flex justify-between;
}

card bottom,
card p{
    @apply text-small;
}

card arrow span{
    @apply flex size-3;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8.5 18.31L5.69 15.5l6.37-6.38H7.11V5.69h11.2v11.2h-3.42v-4.95z'/%3E%3C/svg%3E");
}

/* Transition Animations */
card h2,
card p,
card cat,
card .link,
card arrow{
    @apply relative flex overflow-hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

card h2 span,
card p span ,
card arrow span ,
card cat span ,
card .link span {
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

card h2 span {
  animation-name: AnimBottom;
}

card p span {
  animation-name: AnimTop;
}

card:hover h2 span {
  animation-name: AnimBottomOut;
}

card:hover p span {
  animation-name: AnimTopOut;
}

card arrow span {
    animation-name: AnimRight;
}

card:hover arrow span {
    animation-name: AnimLeftOut;
}

card cat span {
    animation-name: AnimBottom;
}

card:hover cat span {
    animation-name: AnimBottomOut;
}

card .link span {
    animation-name: AnimBottom;
}

card:hover .link span {
    animation-name: AnimBottomOut;
}

card:hover img{
    @apply opacity-100 transition-all duration-300 ease-in-out;
}

