:root {
  --swiper-theme-color: currentColor;
  --swiper-pagination-bullet-size: 1.2rem;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  --swiper-pagination-bullet-inactive-color: color-mix(in srgb, currentColor, transparent 50%);
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-navigation-size: 4rem;
  --swiper-pagination-bottom: 2rem;
}

.swiper {
  @apply w-full h-full my-0 mx-auto
 }
 
 .swiper-slide {
   @apply flex justify-center items-center;
 }
 
 .swiper-slide img {
  @apply block h-full;
 }